<header>
    <h1>Articulation</h1>
    <ul>
        <li>
            <a [routerLink]="['/']">Dashboard</a>
        </li>
        <li>
            <a [routerLink]="['/', 'conjugations']">Conjugations</a>
        </li>
        <li>
            <a [routerLink]="['/', 'genders']">Genders</a>
        </li>
        <li>
            <a [routerLink]="['/', 'flashcards']">Flashcards</a>
        </li>
        <li>
            <a [routerLink]="['/', 'word']">Create Word</a>
        </li>
    </ul>
    <mat-form-field>
        <mat-label>Practice Language</mat-label>
        <mat-select [(value)]="currentPracticeLanguage" (selectionChange)="updatePracticeLanguage($event)">
            <mat-option *ngFor="let lang of practiceLanguages | async" [value]="lang">
                {{ lang.languageCode }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div *ngIf="isAuthenticated | async">
        <span>Hi {{ username | async }}</span>
        <button (click)="logout()" mat-button color="primary">Logout</button>
    </div>
    <button (click)="openLogin()" *ngIf="!(isAuthenticated | async)" mat-button color="primary">Login</button>
</header>
